.produtosEstoque {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-containers);
  height: 12.4vh;
  width: 92%;
  margin-top: 2vh;
  padding: 2vw;
  border-radius: 30px;
  font-size: 1.7vh;
  text-transform: capitalize;
}

.edit {
  height: 40px;
  width: 40px;
  background-color: var(--cor-botao);
  padding: 10px;
  border-radius: 100%;
  font-size: 20px;
  transition: all 0.2s ease;
}

.edit:hover,
.apagar:hover {
  transform: scale(1.09);
}

.apagar {
  height: 40px;
  width: 40px;
  background-color: var(--cor-delete);
  padding: 10px;
  border-radius: 100%;
  font-size: 20px;
  margin-left: 8px;
}

.produto {
  text-transform: uppercase;
  font-size: 3vh;
}

.modelo {
  text-transform: uppercase;
}

@media (max-width:767px) {
  .container {
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    width: 95%;
    text-align: center;
    margin: 10px 0px 0px;
    padding: 10px 0px;
  }

  .produtosEstoque {
    height: 73vh;
    width: 90%;
    overflow-y: auto;
    padding-bottom: 10px;
    white-space: nowrap;
  }

  .produtosEstoque::-webkit-scrollbar {
    display: none;
  }

  .produto {
    text-transform: uppercase;
    max-width: 24ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 2.5vh;
    margin-bottom: 5px;
  }

  .infoEstoque {
    display: flex;
  }


  .infoEstoque>h2 {
    font-size: 11px;
    margin: 10px 5px 10px;
  }

  .container {
    font-size: 1.5vh;
  }

}