.containerDashboard {
  text-transform: uppercase;
  width: 65vw;
  height: 83vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

section {
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 8px;
}

.section1 {
  width: 35vw;
  border-radius: 20px;
  background-color: var(--color-containers);
  box-shadow: 5px 8px 7px -4px rgba(0, 0, 0, 0.75);
}

.section2 {
  width: 50vw;
}

.produtosContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.escuro {
  background-color: var(--cor-escura-Dashboard);
}

.numberEstoque {
  background-color: var(--cor-escura-Numero-Dashboard);
  padding: 10px;
  border-radius: 5px;
}

.containerDashboard2 {
  width: 100%;
  background-color: var(--color-containers);
  height: 31vh;
  border-radius: 20px;
  box-shadow: 5px 8px 7px -4px rgba(0, 0, 0, 0.75);
}

.icone {
  font-size: 90px;
}

.produtosContainer2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.containerLateral {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dinheiro {
  font-size: 28px;
  background-color: var(--cor-escura-Numero-Dashboard);
  padding: 8px;
  border-radius: 10px;
}

.containerLateral>h2 {
  margin: 20px;
}


@media (max-width:767px) {
  .containerDashboard {
    width: 100vw;
    flex-direction: column;
    height: 67vh;
  }

  section {
    margin: 0px;
  }

  .section1 {
    height: 70vh;
    width: 80vw;
    margin: 20px;
  }


  .section2 {
    height: 50vh;
    width: 80vw;
    margin: 0;
  }

  .produtosContainer {
    font-size: 12px;
  }

  .produtosContainer2 {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  .patrimonio {
    display: none;
  }

  .containerLateral {
    text-align: center;
    justify-content: center;
  }


  .icone {
    margin-left: 25px;
    margin-right: -20px;
    font-size: 90px;
  }

  .dinheiro {
    font-size: 24px;
    background-color: var(--cor-escura-Numero-Dashboard);
    padding: 8px;
    border-radius: 10px;
  }
}