@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;900&display=swap');

:root {
  --background-color: #242425;
  --color-containers: #333333;
  --cor-botao-menu: #27292a;
  --cor-escura-Dashboard: #1e1e1ed2;
  --cor-escura-Numero-Dashboard: #1b1b1b;
  --color-hover-containers: #545454;
  --color-texto: #ffffff;
  --color-azul-claro-texto: #2A98D3;
  --cor-botao: #0171ad;
  --cor-delete: rgb(210, 32, 32);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  margin-left: 1px;
  font-weight: 300;
}

button {
  cursor: pointer;
  border: none;
}

#root {
  display: flex;
}

body {
  height: 100%;
  width: 100vw;
  background-color: var(--background-color);
  display: flex;
  align-content: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;

}