.navLeft {
  background-color: var(--color-containers);
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 1px 7px -4px rgba(0, 0, 0, 0.75);
  z-index: 2;
}

.logo {
  margin: 20px;
  width: 45%;
  display: flex;
}

.menus {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 24px;
  font-weight: 900;
  padding-left: 48px;
  margin-bottom: 40px;
}

.active {
  background-color: var(--color-azul-claro-texto);
  color: white;
  cursor: default;
  border-radius: 15px 0px 0px 15px;
  margin: 4px;
  padding: 7px 17px 7px 15px;
  text-transform: uppercase;
}


.menu {
  background-color: var(--cor-botao-menu);
  border-radius: 15px 0px 0px 15px;
  margin: 4px;
  padding: 7px 17px 7px 15px;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.menu:hover {
  color: var(--color-azul-claro-texto);
}

.lp {
  line-height: 30px;
}


.perfil {
  margin: 30px;
  text-align: center;
}

.nameperfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameperfil>img {
  width: 35%;
  border-radius: 100%;
  border: 2px solid var(--color-azul-claro-texto);
  margin-bottom: 5px;
}

.name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 900;
}

.perfilsair {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sair {
  margin-left: 5px;
  font-weight: 900;
  color: var(--color-azul-claro-texto);
  cursor: pointer;
}

.gg-log-off {
  color: var(--color-azul-claro-texto);
}